DTRE\OeilBundle\Entity\User:
    constraints:
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity: mail
    properties:
        login:
            - NotBlank: ~
            - Type: string
        mail:
            - NotBlank: ~
            - Email: ~
        plainpassword:
            - NotBlank: { groups: [New, FullUpdate] }
            - Type: string
            - Length:
                min: 8
                max: 20

DTRE\OeilBundle\Entity\Credentials:
    properties:
        login:
            - NotBlank: ~
            - Type: string
        password:
            - NotBlank: ~
            - Type: string