sensors:
    type:     rest
    resource: DTRE\OeilBundle\Controller\SensorController

data:
    type:     rest
    resource: DTRE\OeilBundle\Controller\DataController

dailydata:
    type:     rest
    resource: DTRE\OeilBundle\Controller\DailyDataController

users:
    type:     rest
    resource: DTRE\OeilBundle\Controller\UserController

auth-tokens:
    type:     rest
    resource: DTRE\OeilBundle\Controller\AuthTokenController

easy_admin_bundle:
    resource: "@EasyAdminBundle/Controller/"
    type:     annotation
    prefix:   /admin